@font-face {
    font-family: roboto-light;
    src: url(../fonts/Roboto-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* padding: 100px 100px 100px 100px; */
    height: 100vh;
    background-color: #f7f9fa;
}

.account {
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 20px;
}

.account .logotype {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: roboto-light,sans-serif, sans-serif;
    font-weight: 800;
}

.account .account-link {
    margin-left: auto;
    margin-right: 20px;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    background-color: #04ac6c;
    color: white;
    font-size: 16px;
    text-decoration: none;
    opacity: .95;
    font-family: roboto-light, sans-serif, serif;
}

.account .account-link:last-child {
    margin-left: 0;
    margin-right: 0;
}

.account .account-link:hover {
    cursor: pointer;
    opacity: 1;
    transition: .5s;
}

.registration-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 40px 0;
}

h2 {
    font-family: roboto-light, sans-serif, serif;
    margin-bottom: 20px;
}

.registration-container form {
    width: 20%;
    border: 1px solid lightgray;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

.registration-container form input {
    margin-bottom: 20px;
    padding: 10px 20px 10px 20px;
    font-family: roboto-light, sans-serif, serif;
    font-size: 16px;
    border: 1px solid lightgray;
    border-radius: 3px;
    outline: none;
}

.registration-container form input:last-child {
    margin-bottom: 0;
    background-color: #04ac6c;
    color: white;
    border: 1px solid #04ac6c;
}

.registration-container form input:last-child:hover {
    opacity: .9;
    transition: .5s;
    cursor: pointer;
}