@font-face {
    font-family: roboto-light;
    src: url(../fonts/Roboto-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* padding: 100px 100px 100px 100px; */
    height: 100vh;
    background-color: #f7f9fa;
}

.account {
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 20px;
}

.account input {
    margin-left: auto;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    background-color: #04ac6c;
    color: white;
    font-size: 16px;
    opacity: 0.95;
}

.account input:hover {
    cursor: pointer;
    opacity: 1;
    transition: .5s;
}

.editor {
    height: inherit;
    display: flex;
    flex-wrap: nowrap;
}

section {
    width: 15%;
    height: inherit;
}

section:first-child {
    border-right: 1px solid lightgray;
}

section:last-child {
    width: 85%;
}


section:first-child div:first-child {
    height: 7%;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:first-child div:first-child button {
    padding: 10px 25px 10px 25px;
    border: none;
    background-color: #04ac6c;
    border-radius: 3px;
    color: white;
    font-family: roboto-light, sans-serif, serif;
    font-size: 18px;
    font-weight: 300;
}

section:first-child div:first-child button:hover {
    opacity: .9;
    transition: .5s;
    cursor: pointer;
}

section:first-child div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 7%; */
    /* border: 1px solid black; */
    border-bottom: 1px solid lightgray;
    padding: 10px 0px 10px 0px;
}

section:first-child div:nth-child(2) input {
    width: 80%;
    font-family: roboto-light, sans-serif, serif;
    font-weight: 300;
    color: black;
    margin-right: 5px;
    outline: none;
    font-size: 18px;
    border: none;
}

section:first-child div:nth-child(3) {
    height: 3%;
    /* border: 1px solid black; */
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

section:first-child div:nth-child(3) ul li {
    list-style-type: none;
    border: 1px solid black;
    width: 20px;
}

section:first-child div:nth-child(3) ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: inherit;
    text-decoration: none;
}

/* Second section */

section:last-child {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

section:last-child div:first-child {
    height: 3.5%;
    /* border: 1px solid black; */
    border-bottom: 1px solid lightgray;
}

section:last-child div:nth-child(2) {
    height: 5%;
    display: flex;
    flex-wrap: nowrap;
    /* border: 1px solid black; */
    border-bottom: 1px solid lightgray;
    
}

section:last-child div:nth-child(2) input {
    padding: 10px 20px 10px 20px;
    width: 95%;
    font-family: roboto-light, sans-serif, serif;
    font-weight: 300;
    color: black;
    margin-right: 5px;
    outline: none;
    font-size: 20px;
    /* border: 1px solid black; */
    border: none;
    border-right: 1px solid lightgray;
    margin-right: 0;
}

section:last-child div:nth-child(2) a {
    width: 5%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}

section:last-child div:nth-child(3) {
    /* border: 1px solid black; */
    padding: 20px 20px 20px 20px;
    height: 88%;
    border-bottom: 1px solid lightgray;
}

section:last-child div:nth-child(3) textarea {
    font-size: 18px;
    font-family: roboto-light, sans-serif, serif;
    resize: none;
    outline: none;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border: none;
}

section:last-child div:nth-child(4) {
    padding: 0px 20px 0px 20px;
    height: 3.5%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

section:last-child div:nth-child(4) p {
    font-family: roboto-light, sans-serif, serif;
    font-size: 16px;
}

section:last-child div:nth-child(4) p:last-child {
    margin-left: auto;
    margin-right: 50px;
}

section:last-child div:nth-child(4) p:first-child {
    margin-right: 40px;
}



