<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ThoughtsOnline</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/cd89bfc83a.js" crossorigin="anonymous"></script>
</head>
<body>
    <form method="POST" class="account">
        <input type="submit" value="Выйти"/>
    </form>
    <div class="editor">
        <section>
            <div>
                <button title="Создать новую запись">+ Создать новую запись</button>
            </div>
            <div>
                <input type="text" placeholder="Найти">
                <img src="./images/search-interface-symbol-16.png">
            </div>
            <div>
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-bars-sort">!</i>
                        </a>
                        <!-- <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul> -->
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </a>
                        <!-- <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul> -->
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </section>
        <section id="example">
            <div>
                <nav></nav>
            </div>
            <div>
                <input type="text" placeholder="Название заметки">
                <a href="#">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </div>
            <div>
                <textarea spellcheck="false" placeholder="Заметка" v-model="message"></textarea>
            </div>
            <div>
                <p>Строка: {{ stringCount }}</p>
                <p>Колонка: {{ columnCount }}</p>
                <p>Количество слов: {{ wordCount }}</p>
            </div>
        </section>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script type="text/javascript" src="./scripts/script.js"></script>
</body>
</html>