<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="./css/home.css">
    <script src="https://kit.fontawesome.com/cd89bfc83a.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="account">
        <a class="logotype" href="#">
            <img style="margin-right: 3px;" src="./images/writing.png" alt="Logotype">
            <p>NOTEPAD</p>
        </a>
        <a class="account-link" href="/login">Вход</a>
        <a class="account-link" href="/registration">Регистрация</a>
    </div>
    <div class="registration-container">
        <h2>Вход</h2>
        <form method="POST" th:action="@{/login}" name="loginForm">
            <input type="email" placeholder="Электронная почта" name="email" required="true">
            <input type="password" placeholder="Пароль" name="password" required="true">
            <input type="submit" value="Зарегистрироваться">
        </form>
    </div>
</body>
</html>